{% extends '_base.html' %}
{% block main %}
<div class="b-top-section">
  <h1>Sample Visualization</h1>
</div>

<div class="b-page-section">
  <div class="row">
    <div class="large-10 large-centered columns">
      <div class="chart"></div>
    </div>
  </div>
</div>


<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var data = [4, 8, 15, 16, 23, 42];

var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, 420]);

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>




{% endblock %}
