// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
