#sequences-chart {
  #chart path {
    fill: gray;
  }
  #chart path:hover {
    fill: purple;
  }
  #main {
    // float: left;
    // width: 750px;
  }

  #sidebar {
    float: right;
    width: 100px;
  }

  #sequence {
    width: 800px;
    height: 70px;
    text-align: center;
  }

  #legend {
    padding: 10px 0 0 3px;
  }

  #sequence text, #legend text {
    font-weight: 300;
    fill: #fff;
    // text-align: left;
  }

  #chart {
    position: relative;
    text-align: center;
  }

  #chart path {
    stroke: #fff;
  }

  #explanation {
    position: absolute;
    top: 280px;
    left: 400px;
    width: 140px;
    text-align: center;
    color: $gray-60;
    z-index: -1;
  }

  #percentage {
    font-size: 16px;
    text-align: center;
  }

}