// styles.scss
// used to manage sass dependencies by only importing the sass files that will be used in the site build
// add any site-specific sass you want to use here using an @import

@import 'custom';